build/
*.o
*~
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.lol
*.lot
*.nav
*.out
*.pdf
*.snm
*.toc
*.vrb
*.tar.gz
*.gch
*.tags*
.clang_complete
testFileGenerator/
deps/
.clang_complete
!build-dependencies.sh
!Makefile-fpzip-1.1.0
